<% provide(:title) %>

<table class="table table-bordered table-striped table-condensed">
  <thead>
    <tr>
      <th rowspan="2" class="table-header">日付</th>
      <th rowspan="2" class="table-header">曜日</th>
      <th colspan="2" class="table-header">出社</th>
      <th colspan="2" class="table-header">退社</th>
      <th rowspan="2" class="table-header">在社時間</th>
      <th rowspan="2" class="table-header">備考</th>
    </tr>
    
  </thead>
    
  <tbody>
    
      <% @attendances.each do |attendance| %>
      <%= form_for(attendance, url: attendance_update_path ) do |f| %>
      <%= f.hidden_field :user_id, :value => "#{@user.id}"%>
      <%= f.hidden_field :id, :value => "#{attendance.id}"%>


      <!--日付-->
        <tr>
           <td class="table-body"><%= attendance.day.month %>/<%= attendance.day.day %></td>
     　
          <!--曜日-->
          <td class="table-body"><%= @youbi[attendance.day.wday] %></td>

          <!-- 出社時間の表示  -->
          <td class="table-body">
              
          </td>
          <td class="table-body">
              
          </td>
          <td class="table-body">
  
          </td>
          <!-- 退社時間の表示  -->
          <td class="table-body">
          </td>
          <td class="table-body">

          </td>
          <td class="table-body">
           
          </td>
          
          <!-- 在社時間の表示  -->
          <td class="table-body">
            
          </td>
          
        </tr>

  </tbody>
  <% end %>
<% end %>

</table>