<% provide(:title) %>
<h1>勤怠編集</h1>

<table class="table table-bordered table-striped table-condensed">
  <thead>
    <tr>
      <th  class="table-header">日付</th>
      <th  class="table-header">曜日</th>
      <th  class="table-header">出社</th>
      <th  class="table-header">退社</th>
      <th  class="table-header">在社時間</th>
      <th  class="table-header">備考</th>
    </tr>
    
  </thead>
    
  <tbody>
    
      <% @attendances.each do |attendance| %>
      <%= form_for(attendance, url: attendance_update_path ) do |f| %>
      <%= f.hidden_field :user_id, :value => "#{@user.id}"%>
      <%= f.hidden_field :id, :value => "#{attendance.id}"%>

      <!--日付-->
        <tr>
           <td class="table-body"><%= attendance.day.month %>/<%= attendance.day.day %></td>
             
          <!--曜日-->
          <td class="table-body"><%= @youbi[attendance.day.wday] %></td>

          <!-- 出社時間の表示  -->
          <td class="table-body">
            
                  <%= fields_for "attendance[]", attendance do |fi| %>
                  <%= fi.time_field :attendance_time, {class: 'form-control'}  %>
                  <% end %>
                  
          </td>
          
          <!-- 退社時間の表示  -->
          <td  class="table-body">
            
                  <%= fields_for "attendance[]", attendance do |fi| %>
                  <%= fi.time_field :leaving_time, {class: 'form-control'}  %>
                  <% end %>
                  
          </td>
          <!--在社時間-->
          <td class="table-body">
         
                <% if !attendance.attendance_time.nil? && !attendance.leaving_time.nil? %>
                  <%= format("%.2f", (attendance.leaving_time - attendance.attendance_time)/3600) %>
                <% end %>
              
       </td>
          
          <td  class="table-body">
            
          </td>
          
          <td  class="table-body">
          </td>
          
          
          <td  class="table-body">
          </td>

        </tr>
  <% end %>
  
  <% end %>
  
  
  </tbody>

</table>

<center>
  <%= link_to "キャンセル", user_url(@user, params: { id: @user.id, first_day: @first_day }), 
                          class: "btn btn-sm btn-default"   %>
</center>